{% extends 'base.html' %} {% block content %}
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Author</th>
      <th>Editor</th>
      <th>Year Published</th>
      <th>Stock</th>
      <th>Daily Rate</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
        <td>
          <a href="{% url 'books:detail' book.id %}">{{ book.title }}</a>
        </td>
        <td>{{ book.genre }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.editor }}</td>
        <td>{{ book.year_published }}</td>
        <td>{{ book.number_in_stock }}</td>
        <td>${{ book.daily_rate }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
